*,
*::before,
*::after{
    border: 0;
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a,
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-size: inherit;
    font-weight: inherit;
}
img{
    vertical-align: none;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header{
    flex: 0 1 auto;
}
.main{
    flex: 1 1 auto;
}
.footer{
    flex: 0 1 auto;
}

/* ---------------------- */

.header__title{
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    border-bottom: black solid 1px;
    padding: 20px;
}
.text{
    padding: 15px;
}
.main__title1{
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}
.list1{
    display: flex;
}
.cont1{
    flex: 0 1 20%;
    padding: 20px;
    border: black solid 1px;
    margin: 20px;
    font-size: 22px;
    padding-left: 50px;
  
}
.cont1 li{
    list-style: decimal;
}
.cont2{
    flex: 1 1 70%;
}
.list1 > .cont1 > ol > li > ol{
    padding-left: 30px;
}